@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');


body {
    margin:0;
    padding:0;
    color: #eee;
    background-color: #222;
    background-image: url('/img/bg.png');
    cursor: crosshair;
    overflow: hidden;
    user-select: none;
}

#wrapper {
    margin: auto;
    width: fit-content;
    padding:10px;
    background-color: rgba(0,0,0,0.5);
    height:100vh;
}
#wrapper h1{
    font-family: 'Annie Use Your Telescope', cursive;
    text-align: center;
    font-size:40px;
    text-shadow: 2px 2px 1px #000;
}

.code-box {
    margin: auto;
    width: fit-content;
    padding:10px;
    border: 1px solid #eee;
    box-shadow: 0px 2px 1px #000;
    color:white;
    background-color: rgba(0,0,0,0.5);
    /* height:100vh; */
}

.enter-btn {
    background-color: #ddd;
    padding:5px 15px 5px 15px;
    border:none;
    margin-top:15px;
}

h4 {
    margin-bottom:5px;
    font-size:30px;
}

video {
    max-width: 60%;
    border-radius: 5px;
}

#game {
    /* margin: auto; */
    /* width: fit-content; */
    /* width:340px; */
    /* text-align: center; */
    /* background-color: rgba(0,0,0,0.7); */
    /* border-radius: 5px; */
    /* padding: 10px; */
}

#game .hint {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 20px;
    width: 30%;
    text-align: center;
    margin: 10px;
    padding:10px;
    margin: auto;
    display:block;
}
#game .hint i {
    display:inline;
    color: #f00;
    font-weight: bold;
    text-decoration: underline;
    transition: all 0.2s;
    filter:blur(3px) grayscale(100%);
}
#game .hint i:hover {
    transition: all 0.2s;
    filter:blur(0px);
}

#game #game-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#game #level-one .door{
    left:23%;
    width: 7%;
    height:33%;
    right:0;
    top:27%;
    bottom:0;
}

#game #level-two .door{
    position: absolute;
    left:68%;
    width: 9%;
    height:32%;
    right:0;
    top:28%;
    bottom:0;
}
#game #level-three .door{
    left:47%;
    width: 3%;
    height:14%;
    right:0;
    top:40%;
    bottom:0;
}

#game .level-title {
    
}

#game #level-one .level-title{
    left:30%;
    width: 5%;
    height:33%;
    right:0;
    top:26%;
    bottom:0;
}

#game #level-two .level-title{
    position: absolute;
    left:27%;
    width: 6%;
    height:32%;
    right:0;
    top:18%;
    bottom:0;
}
#game #level-three .level-title{
    left:47.9%;
    width: 2%;
    height:14%;
    right:0;
    top:40%;
    bottom:0;
}

#game span {
    background-color: #222;
    color:white;
}

#game .door {
    position: absolute;
    background: transparent;
    border:none;
    cursor: pointer;
    outline: none;    
}

#game .controls {
    display:flex;
    margin:auto;
    width:880px;
}

#game .controls button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #222;
    color: #eee;
    font-size: 20px;
    font-family: 'Annie Use Your Telescope', cursive;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
}

#start {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#start #start-video, #game-video{
    max-width: 80%;
    border-radius: 5px;
}
#start #start-btn {
    text-align: center; 
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #222;
    color: #eee;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 6px 144px 0px rgba(0,0,0,0.75);

}
.hint{
    background-color: black;
    color: white;
    width: 120px;
    text-align: center;
    margin:auto;
    display: block;
    border-radius: 3px;

}

#start-video:hover {
    cursor: pointer;
}

#game #skullhov button {
    position: absolute;
    left:24%;
    width: 10%;
    height:16%;
    right:0;
    top:51%;
    bottom:0;
    background: transparent;
    border:none;
    cursor: crosshair;
    outline: none;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {

    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 25px;
    text-align: center;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    background-color: #222;
    color: #eee;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);

}

#modal-pass {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.close {
    color: #fff;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}