.first-level {

}

#clock{
    position: absolute;
    background:transparent;
    border:transparent;
    cursor: pointer;
    background:rgba(0, 195, 255, 0.274);
    left:65%;
    width: 8%;
    height:18%;
    right:0;
    top:23%;
    bottom:0;
}
#letter {
    position: absolute;
    background:rgba(94, 255, 0, 0.274);
    /* background:transparent; */
    border:transparent;
    cursor: pointer;
    left:58%;
    width: 12.4%;
    height:3.4%;
    right:0;
    top:70%;
    bottom:0;
    transform: skew(-55deg) rotate(3deg);
}
#hand {
    position: absolute;
    cursor: pointer;
    background:rgba(255, 0, 0, 0.274);
    /* background:transparent; */
    border:transparent;
    width: 7%;
    height:18.5%;
    left:32.5%;
    right:0;
    top:52%;
    bottom:0;
}